<!doctype html>
<html lang="en">
  <head>
    <script src="/static/scripts/jquery.min.js"></script>
<script>
    // Running in electron
    try {
        $ = jQuery = module.exports;
        // If you want module.exports to be empty, uncomment:
        // module.exports = {};
    } catch(e) {}
</script>

<!--    <link rel="stylesheet" href="/static/scripts/ol.css" type="text/css">-->
    <style>

* {
	color: black;
	font-size:17px;
}

#header{
	width:50%;
	float:left;
}

#muestra{
	width:50%;
	float:right;
}

/*#header { 
  position: absolute;
  left: 20px;
  color: white;
  z-index: 100;
  font-family: Sans;
  margin-top: 20px;*/
}
/*html, body, .map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.ol-zoom {
  right: 20px !important;
  left: initial;
}*/

body.disabled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: contrast(30%);
  -webkit-filter: contrast(30%);
}
    </style>

    <script>
window.top.postMessage('gcs', '*');
    </script>

    <!--<script src="/static/scripts/ol.js" type="text/javascript"></script>-->
    <title>Torre Acces Point</title>
  </head>
  <body class="disabled">
    <div id="menu">
	<ul>
		<li><a href="/gestionmision">Gestionar Misión</a></li>
		<li><a href="/">Misión Actual</a></li>
		<li><a href="/listadomisiones">Listado de Misiones</a></li>
		<li><a href="/listadofotos">Listado Fotos</a></li>
	</ul>
    </div>
    <div id="header">

      	<!--<h2>Coordenadas</h2>
	<table>
		<tr>
			<td>
			      x: <input type="text" name="x" id="x" value="" size="6" />
				<br/>
			      y: <input type="text" name="y" id="y" value="" size="6" />
				<br/>
			      h: <input type="text" name="h" id="h" value="" size="6" />
			      <br/>
			</td>
			<td>
			      <button id="header-ver-coordenada">Traer coord. actual </button>
			      </br>
			      <!--<button id="header-ver-distancia">Calcular distancia actual</button>
			      </br>-->
			      <!--<button id="header-add-coordenada">Guardar coordenada</button>
				<br/>
			      <button id="header-ver-coordenadas">Ver coord. guardadas</button>
			      <br/>
			      <button id="header-del-mision">Borrar todas las coord.</button>
			</td>
		</tr>
	</table>-->


	<h2>Configuración de conexión</h2>
	<table>
		<tr>
			<td>
				Fecha actual: <input type="text" name="fecha" id="fecha" size="10" value="" />
				<br/>
				Cadena: <input type="text" name="cadena" id="cadena" size="10" value="{{ cadenaconexion }}" />
				<br/>
				Simulador: <input type="checkbox" name="simular" id="simular" value="1" />

			</td>
			<td>
				<button id="header-fecha">Cambiar Fecha</button>
				</br>
				<button id="header-conectar">Conectar</button>
				</br>
				<button id="header-desconectar">Desconectar</button>
				</br>
			</td>
		</tr>
	</table>
    </br>

    <h2>Control de misión</h2>
	<table>
		<tr>
			<td>
				Selección del recorrido: 
				<select id="selrec">
					<option value="0" >Ningún recorrido</option>
				</select>
				<br/>
				Nº padrón: <input type="text" name="padron" id="padron" value="" size="6" />
				<br/>
				Elegir umbral: <input type="text" name="umbral" id="umbral" value="" size="6" />

				<!--<select id="umbral">
					<option value="0.5" selected="selected" >0.5</option>
					<option value="1.0" >1</option>
					<option value="1.5" >1.5</option>
				</select>-->
				<br/>
				En movimiento?:
				<select id="movfotos">
					<option value="0" selected="selected" >No</option>
					<option value="1" >Si</option>
				</select>
				<br/>

				Altitud:
				<select id="altitud">
					<option value="0" >Relativa</option>
					<option value="1" selected="selected">Global</option>
				</select>
				<br/>

				Elegir resolucion:
				<select id="resolucion">
					<option value="0" selected="selected" >1300 x 975</option>
					<option value="1" >2592 x 1944</option>
					<option value="2" >3280 x 2464</option>
				</select>
				<br/>

				Demora foto(s): <input type="text" name="demora" id="demora" value="-1" size="3" />
				<br/>

				Altura incial(m): <input type="text" name="alt" id="alt" value="" size="3" />
				<br/>
				Velocidad (m/s): <input type="text" name="vel" id="vel" value="" size="3" />
				<br/>
				Tipo: <input type="text" name="tipo" id="tipo" value="" size="10" />
				<br/>
				Cuenta/Dist: <input type="text" name="calculodist" id="calculodist" value="" size="6" />
				<br/>
				Cant. puntos: <input type="text" name="cantpuntos" id="cantpuntos" value="" size="3" />
				<br/>
			
			</td>
			<td>
				<button id="header-arm">Armar/Desarmar</button>
				</br>     		
				<button id="header-una-foto">Sacar foto</button>
				</br>
				<button id="header-despegar">Despegar/Aterrizar</button>
      				<br/>
				<!--<button id="header-figura">Generar figura</button>
      				<br/>-->
				<!--<button id="header-avanzar">Avanzar metros</button>
      				<br/>-->
				<button id="header-ini-mision">Correr Misión</button>
				</br>
				<button id="header-mode-land">Land</button>
				<br/>
				<button id="header-fin-mision">RTL</button>
				</br/>	
			</td>
		</tr>
	</table>

   	<h2>Puntos a recorrer</h2>

	<table border="1" id="puntosrec">
		<tr>
			<td>id</td><td>x</td><td>y</td><td>h</td><td>tipo</td>
		</tr>
	</table>


      <!--</br>
      <button id="header-salir">Salir</button>-->

    </div>
    <!--<div id="map" class="map"></div>-->
    <div id="muestra">
	<h1>Estado del dron</h1>
	<!--<button id="header-center">Center Map</button>-->
	<p id="header-state"><b>Armado:</b> ???<br><b>Modo:</b> ??? <br><b>Altura:</b> ???</p>
	Núm satélites:<span id="satelites"></span><br/>
	Batería:<span id="bateria"></span><br/>
        <h1>Estado de la misión</h1>
	Id:<span id="idm"></span><br/>
	Tipo:<span id="tipom"></span><br/>
	<br/>
	<h2>Última foto</h2>
	Foto Id:<span id="idf"></span><br/>
	Coordenadas:<span id="coordf"></span><br/>
	<span id="foto" ></span><br/>
	<br/>
	<h2>Siguiente punto</h2>
	Distancia Inicial:<span id="distini"></span><br/>
	Distancia Actual:<span id="distact"></span>
    </div>

    <script type="text/javascript" src="/static/scripts/realtime.js"></script>
  </body>
</html>
